#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch ;
}

.quadrado {
    background-color: rgb(151, 236, 54);
    height: 200px;
    width: 200px;
    margin: 20px;
}


.quadrado2 {
    background-color: rgb(240, 11, 11);
    width: 200px;
    margin: 20px;
}